.header {
  padding: 15px 15px;
  font-family: $fonte;
  font-size: 15px;
  background: $primary;
  color: $branco;

  ul {
    display: inline-block;
  }

  ul li {
    display: inline-block;
    padding: 10px 5px;
    align-content: flex-end;
  }

  ul li a {
    text-decoration: none;
    color: $branco;
    padding: 10px 10px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding: 10px;
}

.pesquisa {
  display: flex;
  align-items: center;
}

.box {
  background: $branco;
  border: 1px solid $cinza;
  padding: 6px 10px;

  img {
    width: 20px;
    
  }
}

.input input {
  width: 300px;
  max-width: 300px;
  padding: 9px;
  border: 1px solid $cinza;

  // &:focus {
  //   : #FE5C42;
  // }
}