@import '_variaveis-mixins';
@import '_reset';
@import '_grid';
@import '_essencials';
@import '_menu';


img {
  display: block;
  max-width: 100%;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: -20px;
  text-align: right;
  position: relative;

  @include d(s) {
    margin: 0px;
  }
}

.owl-theme .owl-dots .owl-dot span {
  background: #eee;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $primary;
}


.espaco {
  margin-top: 60px;
  margin-bottom: 60px;
}

.titulo {
  color: $preto;
  @include tipo-1(36);
  text-align: center;
  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    background: $preto;
    width: 60px;
    height: 4px;
    margin: 10px auto;
  }
}

.prato {
  color: $preto;
  @include tipo-1(36);
  text-align: left;
  margin-bottom: 30px;
}

.subtitulo {
  color: $preto;
  @include tipo-1(36);
  text-align: left;
  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    background: $preto;
    width: 60px;
    height: 4px;
    margin: 10px 0px;
  }
}

.subtitulo-menor {
  @include tipo-1(18);
  margin-bottom: 15px;

  &::after {
    margin: 5px 0px;
    width: 30px;
  }
}

.menor {
  color: $branco;
  margin-bottom: 15px;
  @include tipo-1(24);
  text-transform: none;
  &::after {
    background: $branco;
  } 
}

.chamada {
  margin-top: 20px;
  p {
    color: $primary;
    text-align: center;
    @include tipo-2(18);
    margin-bottom: 15px;
  }
}

//Linhas Divisórias

hr.linha {
  padding: 0px;
  
  display: block;
  height: 8px;
  margin: 0px;
  border-width: 0px;
  width: 100%;
}

.btn {
  text-align: center;
  margin: 0 auto;
  @include tipo-2(18);
  font-weight: bold;
  color: $branco;
  display: block;
  width: 220px;
  height: 60px;
  padding: 15px 10px;
  border-radius: 10px;
  transition: .5s;
}

.btn-all {
  width: 100%;
}

.btn-roxo {
  background: $primary;
  &:hover {
    background: #000000;
  }
}

p {
  @include tipo-2(14);
}

b {
  font-weight: bold;
}


.btn-roxo-escuro {
  background: $primary;
  &:hover {
    background: #864DD9;
  }
}

.btn-carrinho {
  @include tipo-1(14);
  padding: 10px;
  height: 40px;
  background: $primary;
  margin: 0px;
  cursor: pointer;
  &:hover {
    background: $primary;
  }
  @include d(s) {
    height: 55px;
  }
}

.btn-preto {
  background: $preto;
  &:hover {
    background: $primary;
  }
  @include d(s) {
    margin: 0 10%;
  }
}


.album {
  margin-top: 15px;
  text-align: center;
  color: $preto;
  @include tipo-1(18);
  text-transform: none;
}

.albuns {
  margin-top: 15px;
  text-align: left;
  color: $primary;
  @include tipo-1(18);
  text-transform: none;
}

.artista {
  text-align: center;
  color: $primary;
  @include tipo-1(18);
  text-transform: none;
}

//Footer


hr.linha {
  padding: 0px;
  
  display: block;
  height: 8px;
  margin: 0px;
  border-width: 0px;
  width: 100%;
}

.primary {
  background: $primary;
}


.footer {
  background: $preto;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    @include tipo-2(14);
    color: $branco;
  }
  div div {
    @include d(s) {
      margin-bottom: 20px;
    }
  }
  @include d(s) {
    padding-bottom: 0px;
  }
}

.redes {
  display: inline-block;
  margin-left: 5px;
  img {
    padding: 5px;
  }
}

.sub-footer {
  font-family: $fonte;
  font-size: em(14, 16);
  background: $primary;
  padding: 20px;
  color: $branco;
  text-align: left;
  p {
    margin-left: 10px;
    @include d(s) {
      margin-left: 0px;
    }
  }
  @include d(s) {
    font-size: em(14, 16);
    color: $branco;
    padding: 20px 20px 20px 0px;
  }

}

.banner {
  width: 100%;
  @include d(s) {
    height: 300px;
  }
}

.top-divider {
  padding-top: 60px;
}

.img-product {
  width: 80%;
}

.description {
  font-family: $fonte;
  @include tipo-2(14);
  padding-bottom: 30px;
}

.divider {
  margin-bottom: 10px;
}

.maior {
  font-size: 24px;
  margin-top: -5px;
}

.float-l {
  float: left;
  @include d(s) {
    float: none;
  }
}

.space {
  padding-bottom: 60px;
}

.divider-bottom {
  padding-bottom: 30px;
}

@import '_form';

.checkbox {
  display: inline !important;
  width: auto !important;
  @include tipo-2(14);
}

.fim {
  text-align: center;
  @include tipo-2(18);
}

.fim-img {
  padding-top: 20px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.top-space {
  margin-top: 30px;
}

.margin-subtitulo {
  margin-left: 10% !important;
}

input[type=radio] + label {
  display:inline-block;
  height:20px;
  padding:0 0 0px 25px;
  margin:0 10px 15px 0;
  background-image:url(http://www.webcis.com.br/images/imagens-noticias/checkbox/ico-master.png);
  background-repeat:no-repeat;
  background-position:0 0;
}

input[type=radio]:checked + label{
  background-position:0 -30px;
}

input[type=radio] {
  display:none; /* Esconde os inputs */
}

.dinheiro {
  display: inline-block;
  input {
    display: inline-block;
    width: 15%;

    @include d(s) {
      width: 25%;
    }
  }
}

.credit-card {
  display: flex;
  flex-wrap: wrap;
  input.cartao {
    float: left;
  }

  input.cvv {
   float: left;
  }

  label.cartao-card {
    width: 70%;
  }

  label.cvv-card {
    margin-left: -6%;
    width: 20%;
  }

  @include d(s) {
    display: block;

    input.cartao, input.cvv {
      float: none;
    }

    label.cartao-card {
      margin-top: 5px;
      width: 100%;
    }
    input.cartao { 
      margin: 0px;
    }
    label.cvv-card { 
      margin-left: 10%;
      margin-top: 5px;
    }

  }
}

.carrinho p {
  padding-bottom: 5px;
}

.circle-size {
  margin-left: 10px;
  font-size: 18px;
}

a {
  color: $preto;
}